In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\sanjay\\Documents\\All working files\\projects\\mobile price predictor\\all_phones_data.csv")
df.head()

,model,Price,ranting,ram,display,camera,battery,processor,warrenty
0,"APPLE iPhone 14 (Blue, 128 GB)","₹57,999",4.6,128 GB ROM,15.49 cm (6.1 inch) Super Retina XDR Display,12MP + 12MP | 12MP Front Camera,"A15 Bionic Chip, 6 Core Processor Processor",1 Year Warranty for Phone and 6 Months Warrant...,NaN
1,"APPLE iPhone 14 (Starlight, 128 GB)","₹58,999",4.6,128 GB ROM,15.49 cm (6.1 inch) Super Retina XDR Display,12MP + 12MP | 12MP Front Camera,"A15 Bionic Chip, 6 Core Processor Processor",1 Year Warranty for Phone and 6 Months Warrant...,NaN
2,"APPLE iPhone 14 (Midnight, 128 GB)","₹58,999",4.6,128 GB ROM,15.49 cm (6.1 inch) Super Retina XDR Display,12MP + 12MP | 12MP Front Camera,"A15 Bionic Chip, 6 Core Processor Processor",1 Year Warranty for Phone and 6 Months Warrant...,NaN
3,"APPLE iPhone 14 (Purple, 128 GB)","₹58,999",4.6,128 GB ROM,15.49 cm (6.1 inch) Super Retina XDR Display,12MP + 12MP | 12MP Front Camera,"A15 Bionic Chip, 6 Core Processor Processor",1 Year Warranty for Phone and 6 Months Warrant...,NaN
4,"APPLE iPhone 14 Plus (Blue, 128 GB)","₹65,999",4.6,128 GB ROM,17.02 cm (6.7 inch) Super Retina XDR Display,12MP + 12MP | 12MP Front Camera,"A15 Bionic Chip, 6 Core Processor Processor",1 Year Warranty for Phone and 6 Months Warrant...,NaN

In [3]:
df.shape

(2579, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   model      2579 non-null   object
 1   Price      2547 non-null   object
 2   ranting    2549 non-null   float64
 3   ram        2579 non-null   object
 4   display    2579 non-null   object
 5   camera     2579 non-null   object
 6   battery    2579 non-null   object
 7   processor  2561 non-null   object
 8   warrenty   1954 non-null   object
dtypes: float64(1), object(8)
memory usage: 181.5+ KB

In [5]:
df.isnull().sum()

model          0
Price         32
ranting       30
ram            0
display        0
camera         0
battery        0
processor     18
warrenty     625
dtype: int64

In [6]:
company = df['model'].str.split(" ").str[0]

In [7]:
df.insert(0,'company',company)

In [8]:
df['company'] = df['company'].str.lower()

In [9]:
df.drop(columns=['model'],inplace=True)

In [10]:
df.duplicated().sum()

1089

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(1490, 9)

In [13]:
df['Price'] = df['Price'].str.split('₹').str[1].str.replace(",","").astype('float')

In [14]:
def extract_ram(ram):
    if 'RAM' in ram:
        return ram.split(" ")[0]
    else:
        return np.nan

In [15]:
extract_ram("3 GB RAM | 32 GB ROM | Expandable Upto 256 GB")

'3'

In [16]:
ram = df['ram'].apply(extract_ram)

In [17]:
df.insert(4,"Ram",ram)

In [18]:
rom = df['ram'].str.split("|").str[1].str.strip().str.split(" ").str[0]

In [19]:
df.insert(5,"internal",rom)

In [20]:
apple_df = df[df['company'] == 'apple']

In [21]:
apple_rom = apple_df['ram'].str.split(" ").str[0]

In [22]:
apple_rom.values

array(['128', '128', '128', '128', '128', '256', '64', '256', '128',
       '128', '128', '128', '512', '128', '256', '64', '256', '256',
       '256', '1', '512', '1', '1', '512', '1', '512', '512', '512',
       '256', '512', '512', '64', '128', '128', '512', '64', '256', '128',
       '64', '16', '64', '256', '1', '128', '64', '128', '256', '64',
       '16', '8', '32', '16', '256', '512', '256', '256', '256', '128',
       '256', '64', '256', '256', '64', '128', '256', '512', '128', '32',
       '64', '128', '512', '128', '128', '256', '256', '256', '64', '32',
       '128', '512', '64', '128', '16', '256', '512', '32', '256', '64',
       '128', '64', '32', '512', '128', '256', '64', '32', '64', '256',
       '256', '512', '128', '128', '32', '256', '64', '128', '64', '128',
       '512', '256', '128', '16', '256', '32', '256', '512', '16', '256',
       '16', '128', '256', '256', '64', '128', '64', '1', '256', '16',
       '128', '64', '128', '64', '256', '512', '16', '16', '128', '128',
       '256', '64', '64', '16', '8', '64', '8', '32', '8', '128', '64',
       '16', '128'], dtype=object)

In [23]:
df.loc[apple_df.index,apple_df.columns[5]] = apple_rom.values

In [24]:
def is_expandable(value):
    if "Expandable" in value:
        return 1
    else:
        return 0

In [25]:
is_exp = df['ram'].apply(is_expandable)

In [26]:
df.insert(6,"is_expandable",is_exp)

In [27]:
expandable_upto = df['ram'].str.split("Expandable").str[1].str.strip().str.split(" ").str[1]

In [28]:
df.insert(7,"expandable_upto",expandable_upto)

In [29]:
df.drop(columns=['ram'], inplace=True)

In [30]:
display = df['display'].str.strip().str.split("(").str[1].str.split(" ").str[0]

In [31]:
df.insert(8,'display_inch',display)

In [32]:
def is_retina(value):
    if "Retina" in value:
        return 1
    else:
        return 0

In [33]:
retina = df['display'].apply(is_retina)

In [34]:
df.insert(9,'is_retina_display',retina)

In [35]:
def type_display(value):
    if "XDR" in value:
        return "XDR"
    elif "HD" in value:
        return "HD"

In [36]:
display_type = df['display'].apply(type_display)

In [37]:
df.insert(10,"display_type",display_type)

In [38]:
df.drop(columns=['display'],inplace=True)

In [ ]:
df['camera'].str.contains('Battery') # feature phones

In [44]:
df.drop(index=df[df['camera'].str.contains('Battery')].index, inplace=True)

In [57]:
df.drop(index=919,inplace=True)

In [71]:
rear_cam = df['camera'].str.strip().str.split(" ").str[0].str.replace("MP","")

In [73]:
df.insert(11,"rear_camera",rear_cam)

In [100]:
front_cam = df['camera'].str.split("|").str[1].str.split("MP").str[0]

In [101]:
df.insert(12,"front_camera", front_cam)

In [117]:
df.drop(columns=['camera'],inplace=True)

In [134]:
temp_df = df[df['company'] == 'apple']

In [141]:
x = temp_df[['battery','processor','warrenty']].shift(1,axis=1).values

In [144]:
df.loc[temp_df.index, df.columns[12:15]] = x

In [154]:
battery = df['battery'].str.strip().str.split(" ").str[0]

In [156]:
df.insert(13,"Battery",battery)

In [159]:
df.drop(columns=['battery'], inplace=True)

In [167]:
temp = df[df['processor'].str.contains("Year")]

In [192]:
y = temp[['processor','warrenty']].shift(1,axis=1).values

In [193]:
df.loc[temp.index, df.columns[13:]] = y

In [232]:
def extract_processor(value):
    if("Qualcomm" in value):
        return "Qualcomm Sanpdragon"
    elif("Snapdragon" in value):
        return "Qualcomm Sanpdragon"
    elif "MediaTek" in value:
        return "Mediatek"
    elif "Helio" in value:
        return "Mediatek"
    elif "Dimensity" in value:
        return "Mediatek"
    elif "Exynos" in value:
        return "Exynos"
    elif "Bionic Chip" in value:
        return "Bionic Chip"
    elif "Chip" in value:
        return "Bionic Chip"
    else:
        return "other"

In [284]:
processor_type1 = df['processor'].fillna(value="something").apply(extract_processor)

In [288]:
df.insert(14,"Processor_type",processor_type1)

In [295]:
df.drop(columns=['processor','warrenty'],inplace=True)

In [300]:
df.drop(columns=['ranting'],inplace=True)

In [314]:
df.drop(index=[673,1266,2231],inplace=True)

In [315]:
df[df['Price'].isnull()]

,company,Price,Ram,internal,is_expandable,expandable_upto,display_inch,is_retina_display,display_type,rear_camera,front_camera,Battery,Processor_type
2289,vivo,NaN,8,256,0,NaN,6.78,0,HD,64,50,5000,Qualcomm Sanpdragon
2290,vivo,NaN,12,256,0,NaN,6.78,0,HD,50,50,4600,Mediatek
2291,vivo,NaN,8,128,0,NaN,6.78,0,HD,64,50,5000,Qualcomm Sanpdragon
2292,vivo,NaN,12,256,0,NaN,6.78,0,HD,50,50,4600,other
2293,vivo,NaN,4,64,0,NaN,6.51,0,HD,8,5,5000,Mediatek
2294,vivo,NaN,8,128,0,NaN,6.78,0,HD,50,50,4600,Mediatek
2296,vivo,NaN,8,128,0,NaN,6.67,0,HD,64,16,4800,other
2297,vivo,NaN,4,64,1,1,6.51,0,HD,13,5,5000,Mediatek
2298,vivo,NaN,4,128,1,1,6.51,0,HD,13,5,5000,Mediatek
2302,vivo,NaN,3,64,1,1,6.51,0,HD,13,5,5000,Mediatek
2304,vivo,NaN,4,128,1,1,6.56,0,HD,50,8,5000,Mediatek
2305,vivo,NaN,8,128,0,NaN,6.78,0,HD,50,50,4600,other
2306,vivo,NaN,4,64,0,NaN,6.51,0,None,13,NaN,5000,other
2307,vivo,NaN,8,256,0,NaN,6.78,0,HD,50,50,4600,Mediatek
2310,vivo,NaN,8,128,0,NaN,6.58,0,HD,50,16,5000,Mediatek
2311,vivo,NaN,4,64,1,1,6.56,0,HD,50,8,5000,Mediatek
2395,vivo,NaN,3,64,0,NaN,6.51,0,None,13,NaN,5000,other
2405,vivo,NaN,4,128,1,256,6.47,0,HD,13,8,5000,Mediatek
2576,vivo,NaN,4,64,1,256,6.35,0,HD,13,16,5000,Mediatek
2578,vivo,NaN,4,64,1,256,6.53,0,HD,16,32,5000,Qualcomm Sanpdragon

In [323]:
x = df[df['company'] == 'vivo']['Price'].median()

In [325]:
df['Price'].fillna(x,inplace=True)

In [333]:
df['Ram'].fillna(4,inplace=True)

In [340]:
df['display_type'].fillna(df['display_type'].mode()[0],inplace=True)

In [344]:
df[df['Battery'].isnull()]

,company,Price,Ram,internal,is_expandable,expandable_upto,display_inch,is_retina_display,display_type,rear_camera,front_camera,Battery,Processor_type
0,apple,57999.0,4,128,0,NaN,6.1,1,XDR,12,12,None,Bionic Chip
1,apple,58999.0,4,128,0,NaN,6.1,1,XDR,12,12,None,Bionic Chip
4,apple,65999.0,4,128,0,NaN,6.7,1,XDR,12,12,None,Bionic Chip
6,apple,64999.0,4,128,0,NaN,6.7,1,XDR,12,12,None,Bionic Chip
7,apple,77900.0,4,128,0,NaN,6.1,1,XDR,48,12,None,Bionic Chip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,apple,13999.0,4,8,0,NaN,3.5,0,HD,5,0.3,None,other
460,apple,80500.0,4,128,0,NaN,5.5,1,HD,8,1.2,None,Bionic Chip
461,apple,71500.0,4,64,0,NaN,5.5,1,HD,8,1.2,None,Bionic Chip
462,apple,72000.0,4,16,0,NaN,5.5,1,HD,12,5,None,other
463,apple,80500.0,4,128,0,NaN,5.5,1,HD,8,1.2,None,Bionic Chip

In [345]:
df['Battery'].fillna(3000,inplace=True)

In [352]:
df['front_camera'].fillna(df['front_camera'].mode()[0],inplace=True)

In [359]:
df.drop(index=1040,inplace=True)

In [366]:
def update(value):
    if value == '1':
        return 1024
    elif value == '2':
        return 2048
    else:
        return value

In [373]:
df['expandable_upto'] = df['expandable_upto'].apply(update)

In [379]:
df['expandable_upto'].fillna(df['expandable_upto'].mode()[0],inplace=True)

In [380]:
df.isna().sum()

company              0
Price                0
Ram                  0
internal             0
is_expandable        0
expandable_upto      0
display_inch         0
is_retina_display    0
display_type         0
rear_camera          0
front_camera         0
Battery              0
Processor_type       0
dtype: int64

In [381]:
df.to_csv("cleaned.csv")